/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800&display=swap');
:root {
  --theme__color1: #A52A2A;
  --theme__color2: #001F3F;
  --theme__color3: #BFA75F;
  --text__color: #272727;
  --urbanist: 'Urbanist', sans-serif;
}
*,::before,::after {
  box-sizing: border-box;

}
section {
  scroll-behavior: smooth !important;
  -webkit-scroll-margin-top: 100px !important;
  scroll-margin-top: 100px !important;
}
body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #000000;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--urbanist);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  /* overflow: hidden; */
}
@media (max-width: 1399px) and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1260px;
  }
}



/* header */
.header-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-in {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  background: #fff;
  transition: 0.3s;
}
.sticky .header-in {
  box-shadow: 0 0 15px #00000018;
}
.header-section__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 111px;
  display: block;
}
.header-logo img {

}

.main-menu {

}
.main-menu > ul {
  display: flex;
  gap: 64px;
}
.main-menu > ul > li {

}
.main-menu > ul > li > a {
  font-size: 16px;
  padding: 3px 0;
  font-weight: 400;
  color: #2B2B2B;
  transition: .3s;
  position: relative;
}
.main-menu > ul > li > a:hover {
  color: var(--theme__color1);
}
.main-menu > ul > li.active a {
  color: var(--theme__color1);
}
.main-menu > ul > li > a::after {
  content: '';
  height: 3px;
  width: 100%;
  left: 0;
  top: 100%;
  background: var(--theme__color1);
  position: absolute;
  display: block;
  border-radius: 10px;
  transform: scaleX(0);
  transition: 0.3s;
  transform-origin: 0 50%;
}
.main-menu > ul > li a:hover:after,
.main-menu > ul > li.active a::after {
  transform: scaleX(1);
}

.header-right {

}
/* header-end */




/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: var(--theme__color1);
}
.offcanvas-close {
  color: #fff;
  position: absolute;
  transition: 0.3s;
  right: 15px;
  top: 15px;
  line-height: 1;
  font-size: 22px;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: var(--theme__color2);
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.mobile-menu li {
  margin-bottom: 15px;
}
.mobile-menu li a {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  padding: 0 0 0px;
  position: relative;
}
.mobile-menu li.active a {
  color: var(--theme__color3);
}
.mobile-menu li a::after {
  content: '';
  height: 2px;
  width: 100%;
  left: 0;
  top: 100%;
  background: var(--theme__color3);
  position: absolute;
  display: block;
  border-radius: 10px;
  transform: scaleX(0);
  transition: 0.3s;
  transform-origin: 0 50%;
}
.mobile-menu li.active a::after {
  transform: scaleX(1);
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */


/* ---hero-section--- */
.hero-section {
  padding: 60px 0 0;
}
.hero-section__inner {

}
.hero__row {

}
.hero-content {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero-content .h1 {
	font-size: 70px;
	margin-bottom: 16px;
	line-height: 1.23;
	display: inline-flex;
	background: var(--Gradient, linear-gradient(90deg, #001F3F 2.39%, #A52A2A 47.12%, #BFA75F 99.98%));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	flex-wrap: wrap;
}
.hero-content .h1 .txt-1 {
	margin-top: -12px;
	display: inline-block;
}
.hero-content .h1 .shape {
	right: 188px;
	width: 39px;
	top: -15px;
	position: absolute;
}
.hero-content p {
  font-size: 18px;
  color: var(--text__color);
  line-height: 144.444% ;
}
.hero-content .bottom-button {
  margin-top: 8px;
}

.trusted-users-box {
  padding: 8px 17px;
  gap: 6px;
  border-radius: 56px;
  margin-top: 67px;
  background: rgba(165, 42, 42, 0.10);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.trusted-users-box h4 {
  font-size: 16px;
  font-weight: 400;
}
.trusted-users-box p {
  font-size: 14px;
  font-weight: 500;
}
.trusted-users {
  display: flex;
}
.trusted-user-single {
  height: 32px;
  width: 32px;
  border: 2px solid white;
  border-radius: 50%;
  margin-left: -14px;
  background: var(--theme__color2);
  color: white;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.trusted-user-single:first-child {
  margin-left: 0;
}
.trusted-user-single--number {

}
.trusted-user-single .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.hero__image {
  width: 100%;
}
.hero__image__inner {
	width: 236.5%;
	margin-left: -43%;
}
.hero__image__inner .img {

}
/* ---hero-section---end */


/* ---companies-section--- */
.companies-section {
  padding: 11px 0;
  background: var(--theme__color2);
  color: white;
}
.companies-section__inner {

}
.companies-section__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.companies-section__title {

}
.companies-section__title h3 {
  font-size: 24px;
  font-weight: 500;
}
.trusted-companies_wrap {
  gap: 73px;
  display: flex;
}
.trusted-company-single {
  width: 16.66666%;
}
.trusted-company-single .img {

}
/* ---companies-section---end */


/* -----common----- */
.h2 {
  font-size: 48px;
  margin-bottom: 18px;
}
.p {
  font-size: 18px;
  color: var(--text__color);
  line-height: 144.444%;
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk--center {
  align-items: center;
  text-align: center;
}
.sec-title {
  margin-bottom: 40px;
}
/* -----common-----end */


/* ---features-section--- */
.features-section {
  padding: 105px 0 50px;
}
.features-section__inner {

}

.features-section__title {

}


.feature-row {
  margin-bottom: 52px;
}
.feature__image__1 {
  margin-right: 27px;
  position: relative;
}
.feature__image__1__inner {
  padding-right: 20%;
}
.feature__image__1 .img-main {
  border-radius: 16px;
  background: #FFF;
  box-shadow: 24.10103px 24.10103px 19.84791px -11.34166px rgba(182, 185, 189, 0.19), -8px -8px 19px 0px rgba(182, 185, 189, 0.19);
}
.feature__image__1 .img-main .img {
  border-radius: inherit;
}
.feature__image__1 .sd {
  border-radius: 8px;
  width: 48%;
  background: #FFF;
  box-shadow: -4px 7px 74px 0px rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 42%;
  transform: translate(0,-50%);
}
.feature__image__1 .sd .img {
  border-radius: inherit;
}
.feature__image__2 {
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.feature__image__2__inner {
  padding-left: 20%;
}
.feature__image__2 .img-main {
  border-radius: 17.317px;
  background: #FFF;
  box-shadow: 26.08533px 26.08533px 21.48203px -12.27545px rgba(182, 185, 189, 0.19), -8.65866px -8.65866px 20.56432px 0px rgba(182, 185, 189, 0.19);
  width: 79%;
}
.feature__image__2 .img-main .img {
  border-radius: inherit;
  width: 100%;
}
.feature__image__2 .feature-img-box {
  position: absolute;
  top: 52%;
  left: 73%;
}
.feature-img-box {
  width: 270px;
  min-height: 268px;
  padding: 19px;
  border-radius: 17.317px;
  background: #FFF;
  box-shadow: 26.08533px 26.08533px 21.48203px -12.27545px rgba(182, 185, 189, 0.19), -8.65866px -8.65866px 20.56432px 0px rgba(182, 185, 189, 0.19);
  display: flex;
  flex-direction: column;
}
.feature-img-box h3 {
  font-size: 17.569px;
  margin-bottom: 6px;
  font-weight: 700;
}
.feature-img-box h6 {
  font-size: 9.741px;
  margin-bottom: 6px;
  font-weight: 400;
  color: rgba(39, 39, 39, 0.6);
}
.feature-img-box p {
  font-size: 11.906px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.636%;
}
.feature-img-box .bottom-button {
  margin-top: auto;
}


.features__content {

}
.features__content .h2 {
  font-size: 32px;
  margin-bottom: 22px;
}
.features__box-list {
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.feature__box-list-item {
  padding:  30px 23px;
  gap: 12px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: -4px 7px 74px 0px rgba(0, 0, 0, 0.06);
  display: flex;
}
.feature__box-list-item .marker {
  width: 20px;
  flex-shrink: 0;
}
.feature__box-list-item .txt {

}
.feature__box-list-item .txt p {
  font-size: 16px;
}
/* ---features-section---end */


/* ---why-section--- */
.why-section {
  padding: 50px 0;
}
.why-section__inner {

}

.why-section__in-box {
  padding: 54px 25px 62px;
  border-radius: 30px;
  background: url('images/why-in-box-bg.png') no-repeat center center/100% 100%;
}
.why-section__title {

}
.why__row {

}
.why-card {
  padding: 22px 22px 32px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: -4px 7px 74px 0px rgba(0, 0, 0, 0.06);
}
.why-card .icon {
  width: 48px;
  margin-bottom: 12px;
}
.why-card .icon .img {

}
.why-card .contents {

}
.why-card .contents h4 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}
.why-card .contents p {
  font-size: 16px;
  font-weight: 400;
}
/* ---why-section---end */


/* ---pricing-section--- */
.pricing-section {
  padding: 70px 0;
}
.pricing-section__inner {

}
.pricing-section__title {
  padding-bottom: 25px;
}

.pricing-plans-row {
  --bs-gutter-x: 20px;
  --bs-gutter-y: var(--bs-gutter-x);
  align-items: flex-end;
}
.pricing-card {
  padding: 26px 30px 24px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: -4px 7px 74px 0px rgba(0, 0, 0, 0.06);
  min-height: 574px;
  display: flex;
  flex-direction: column;
}
.pricing-card--highlight {
  min-height: 612px;
  background: var(--theme__color2);
  color: #fff;
}
.pricing-card__head {
  padding: 0 0 6px;
  border-bottom: 1px solid #E9E9E9;
}
.pricing-card--highlight .pricing-card__head {
  border-color: rgba(233, 233, 233, 0.2);
}
.pricing-card__head h3 {
  font-size: 28px;
  margin-bottom: 5px;
}
.pricing-card__head h5 {
  font-size: 16px;
  margin-bottom: 6px;
  font-weight: 400;
  color: #272727;
}
.pricing-card--highlight .pricing-card__head h5 {
  color: #fff;
}
.pricing-card__head .price {
  margin: 0;
}
.pricing-card__head .price .big {
  font-size: 40px;
  margin-right: 5px;
  display: inline-block;
  font-weight: 700;
}
.pricing-card__head .price .small {
  font-size: 16px;
  font-weight: 400;
  color: #272727;
} 
.pricing-card--highlight .pricing-card__head .price .small {
  color: #fff;
}
.pricing-card__body {
  padding: 18px 0 0;
  flex-grow: 1;
}
.pricing-ul {
  flex-direction: column;
  display: flex;
  gap: 15px;
}
.pricing-ul li {
  font-size: 16px;
  position: relative;
  padding-left: 23px;
}
.pricing-ul li::before {
  content: '';
  height: 16px;
  width: 16px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  background: url('images/p-ul-marker.svg') no-repeat center center/contain;
  transform: translate(0,-50%);
}
.pricing-ul--white li::before {
  background: url('images/p-ul-marker.svg') no-repeat center center/contain;
}

.pricing-card-bottom  {

}
.pricing-card-bottom .default-button {
  width: 100%;
}
/* ---pricing-section---end */


/* ---contact-section--- */
.contact-section {
  padding: 45px 0 55px;
  background: var(--theme__color2);
  color: #fff;
}
.contact-section__inner {

}

.contact-section__row {

}
.contact-content {
  padding-right: 100px;
}
.contact-content .h2 {

}
.contact-content p {

}

.contact-form {

}
.contact-form__main {

}
/* ---contact-section---end */


/* ---input-x--- */
.single-input-x {
  width: 100%;
  margin-bottom: 15px;
}
.label-x {
  font-size: 18px;
  margin-bottom: 9px;
  font-weight: 400;
  width: 100%;
}
.input-x-outer {
  width: 100%;
}
.input-x {
  font-size: 16px;
  padding: 19px 18px;
  border-radius: 8px;
  color: #fff;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: rgba(255, 255, 255, 0.23);
  width: 100%;
  resize: none;
}
.input-x::placeholder {
  opacity: 0.2;
}
.input-x:focus::placeholder {
  opacity: 0;
}
.input-x--big {
  height: 132px;
}
.input-x--submit {
  font-size: 18px;
  font-weight: 600;
  color: var(--theme__color2);
  background: #fff;
  transition: 0.3s;
}
.input-x--submit:hover {
  background: var(--theme__color1);
  border-color: transparent;
  color: #fff;
}
/* ---input-x---end */


/* ---footer-section--- */
.footer-section {
  padding: 92px 0 40px;
}
.footer-section__inner {

}

.footer-top {
  display: flex;
}
.footer-logo-column {
  width: 21.5%;
}
.footer-logo {
  width: 110px;
  margin-bottom: 42px;
  display: block;
}
.footer-logo img {

}
.footer-contact-menu {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.footer-contact-menu li {

}
.footer-contact-menu li a {
  font-size: 16px;
  font-weight: 400;
  color: rgba(39, 39, 39, 0.7);
  gap: 11px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.footer-contact-menu li a:hover {
  color: var(--theme__color1);
}
.footer-contact-menu li a .icon {
  color: var(--theme__color2);
}


.footer-menu-column {
  width: 16.3%;
}
.footer-menu {

}
.footer-menu h4 {
  font-size: 24px;
  margin-bottom: 27px;
  font-weight: 600;
}
.footer-menu ul {
  gap: 17px;
  display: flex;
  flex-direction: column;
}
.footer-menu ul li {

}
.footer-menu ul li a {
  font-size: 16px;
  font-weight: 400;
  color: rgba(39, 39, 39, 0.7);
  transition: 0.3s;
}
.footer-menu ul li a:hover {
  color: var(--theme__color1);
}

.footer-cta-column {
  flex-grow: 1;
  /* width: 29.6%; */
  width: 0;
}
.footer-cta-column h3 {
  font-size: 32px;
  margin-bottom: 23px;
  font-weight: 600;
}
.footer-cta {

}
.footer-cta h4 {
  font-size: 16px;
  margin-bottom: 18px;
  font-weight: 400;
  color: var(--text__color);
  opacity: 0.7;
}
.footer-cta-form {
  padding: 6px;
  border-radius: 8px;
  border: 1.806px solid #E1E1E1;
  background: #FFF;
  display: flex;
}
.footer-cta-form .input {
  padding: 10px 13px;
  font-size: 14.45px;
  color: #737373;
  border: 1px solid transparent;
  width: 0;
  flex-grow: 1;
}
.footer-cta-form .submit-button {
  min-width: 142px;
  min-height: 48px;
}


.footer-bottom {
  margin-top: 140px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.copyright {
  font-size: 16px;
  font-weight: 400;
  color: rgba(39, 39, 39, 0.7);
  transition: 0.3s;
}
/* ---footer-section---end */